ion-content {
  // text-align: center;

  // position: absolute;
  // left: 0;
  // right: 0;
  // top: 50%;
  // transform: translateY(-50%);
  --ion-background-color: var(--ion-color-tertiary);
  // clip-path: circle(61.1% at 51% 0);  
}

.top-scope {
  background-color: #f1050525;
  clip-path: circle(55.4% at 53% 0);
  height: 100vh;
}
.middle-scope {
  position: absolute;
  bottom: 10%;
  transform: translateY(-50%);
  
  .favCard{
    // border-radius: 10px;
    border: 1px solid #ff69b461;
    box-shadow:  -1px 10px 10px 5px rgb(250 120 147 / 70%)
  }
}

.bottom-scope {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10%;
  transform: translateY(-50%);
  }
